<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3> Hey there! </h3>
            <p>Jon to most, Cocksy to some and "Hey you!" to crazy people on the subway, I'm a self-confessed nerd who loves a good vent.
                I'm a Data Scientist by profession (<a href="{{ url_for('post', post_id=10) }}">what's that?</a>) and I've been in the industry long enough to know that most people who claim to be, aren't.
                Inlcuding me, probably.
                I love technology and all that it enables, especially the gradual alienation and enslavement of the human race (just kidding, it's not gradual at all).
                As a software engineer I make a great data scientist, but I've built some cool stuff that you can look at <a href="https://github.com/mcgeddes11">here</a> if you want.
                Set your expectations accordingly - it's not rocket surgery, though the code for this blog platform is there as well.
                Currently working at Boeing Vancouver, building predictive maintenance solutions for the aerospace industry.
                If you ask me I'll tell you that I keep 787's from falling out of the sky, but it's not really that glamorous - those things fly themselves, right?
            </p>
            <p>
                Beyond nerd stuff, I love sports, especially baseball, hockey (of the ice variety for those of you not in North America), and cricket.
                An Aussie expat living in beautiful BC, Canada, I also love hiking, kayaking, snowboarding and hanging out with my friends and family, but not necessarily in that order.
                I'd love your feedback about my blog, so feel free to jump on over to the contact page, though the decision <b>not</b> to include a comments section was an intentional one.
                Trolls are the worst.
            </p>
        </div>
    </div>
</div>

{% endblock %}
