<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Reset Password: </h1>

    {% if msg == "" %}
        <form action="" method="post" name="reset_password">
            {{ form.hidden_tag() }}
            <p>
                Enter a new password:<br>
                {{ form.password(size=80) }}
                {% for error in form.password.errors %}
                  <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br><br>
                Confirm password:<br>
                {{ form.confirm_password(size=80) }}
                {% for error in form.confirm_password.errors %}
                  <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br><br>
                <input type="submit" value="Submit"></p>
        </form>
    {% else %}
        <div>{{ msg }}</div>
    {% endif %}

</div>

{% endblock %}